#Everything
*

#But
!.gitignore
!bin/
!README.md
!scripts/
!data/
!models/
!models/files/
!models/files/SM.json
!libscripts/
!C9_MSSM/
!C9_MSSM/newdatafull_explicitspectrum
!C9_MSSM/newdatafull_explicitspectrum/spectra
!C9_MSSM/newdatafull_explicitspectrum/spectra/*.txt
!*.json
!Makefile
!*.cpp
!*.sh
!*.txt
!*.h

*.sw[p-z]
./*.txt
C9_MSSM/C9_marty_tanb50_ss.txt
